# Aktifkan mod_rewrite
RewriteEngine On

# Redirect index.php ke root domain
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ https://pekapeduli.org/ [R=301,L]

# Hilangkan .php dari URL untuk halaman lain
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]